// Light Theme Colors
$light-colors: (
    //body background
    bodyBG1: white,
    bodyBG2: #fff5eb,
    bodyBG3: #EFEDEE,
    // offs
    off-100: #fff5eb,
    off-8: rgba(255, 245, 235, 0.08),
    off-16: rgba(255, 245, 235, 0.16),
    off-32: rgba(255, 245, 235, 0.32),
    off-64: rgba(255, 245, 235, 0.64),
    // off text
    off-text-100: #241F21,
    off-text-8: rgba(35, 31, 33, 0.08),
    off-text-16: rgba(35, 31, 33, 0.16),
    off-text-32: rgba(35, 31, 33, 0.32),
    off-text-64: rgba(35, 31, 33, 0.64),
    // background hues 
    // text

);

// Dark Theme Colors
$dark-colors: (
    //body background
    bodyBG1: #333031,
    bodyBG2: #2b2628,
    bodyBG3: rgb(15, 14, 14),
    // offs
    off-100: #241F21,
    off-8: rgba(35, 31, 33, 0.08),
    off-16: rgba(35, 31, 33, 0.16),
    off-32: rgba(35, 31, 33, 0.32),
    off-64: rgba(35, 31, 33, 0.64),
    // off text
    off-text-100: #fff5eb,
    off-text-8: rgba(255, 245, 235, 0.08),
    off-text-16: rgba(255, 245, 235, 0.16),
    off-text-32: rgba(255, 245, 235, 0.32),
    off-text-64: rgba(255, 245, 235, 0.64),
    // background hues 
    // text
);


// Palette 1
$teal-green-dark: #056c6a;
$teal-green: #08d9d6;
$teal-green-light: #5aefef;
$rose-dark: #ee0b48;
$rose: #ff2e63;
$rose-light: #ff6190;
$off-white-dark: #e9d5c8;
$off-white: #fff5eb;
$white: #ffffff;
$light-coral-dark: #c77c52;
$light-coral: #faa275;
$light-coral-light: #ffc0a1;
$gunmetal-dark: #0e2c42;
$gunmetal: #154360;
$gunmetal-light: #2e6690;
$oxford-blue-dark: #0b1d30;
$oxford-blue: #112a46;
$oxford-blue-light: #334d66;
$outer-space-dark: #292a2c;
$outer-space: #3c3f41;
$outer-space-light: #545759;


$corner-white: #EFEDEE;
// off-white
$off-white: #fff5eb;
$off-white-8: rgba(255, 245, 235, 0.08);
$off-white-16: rgba(255, 245, 235, 0.16);
$off-white-32: rgba(255, 245, 235, 0.32);
$off-white-64: rgba(255, 245, 235, 0.64);
// off-black
$off-black: #241F21;
$off-black-8: rgba(35, 31, 33, 0.08);
$off-black-16: rgba(35, 31, 33, 0.16);
$off-black-24: rgba(35, 31, 33, 0.24);
$off-black-32: rgba(35, 31, 33, 0.32);
$off-black-64: rgba(35, 31, 33, 0.64);
$black-8: rgba(0, 0, 0, 0.04);
$black-16: rgba(0, 0, 0, 0.16);
$black-24: rgba(0, 0, 0, 0.24);
$black-32: rgba(0, 0, 0, 0.32);
$black-64: rgba(0, 0, 0, 0.64);
$black-82: rgba(0, 0, 0, 0.82);