// Palette 1
$teal-green-dark: #056c6a;
$teal-green: #08d9d6;
$teal-green-light: #5aefef;
$rose-dark: #ee0b48;
$rose: #ff2e63;
$rose-light: #ff6190;
$off-white-dark: #e9d5c8;
$off-white: #fff5eb;
$white: #ffffff;
$light-coral-dark: #c77c52;
$light-coral: #faa275;
$light-coral-light: #ffc0a1;
$gunmetal-dark: #0e2c42;
$gunmetal: #154360;
$gunmetal-light: #2e6690;
$oxford-blue-dark: #0b1d30;
$oxford-blue: #112a46;
$oxford-blue-light: #334d66;
$outer-space-dark: #292a2c;
$outer-space: #3c3f41;
$outer-space-light: #545759;
