@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
//japanese
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

@font-face {
    font-family: 'GauFontRubberSoul Regular';
    font-style: normal;
    font-weight: normal;
    src: local('GauFontRubberSoul Regular'), url('@/assets/fonts/Gau_Rubber_Soul.woff') format('woff');
}
// 'M PLUS 1p', 'Kosugi Maru',  'Sawarabi Gothic'
$font-primary: 'Share Tech Mono', 'Noto Sans JP', monospace, 'Roboto', sans-serif;
$font-secondary: 'Turret Road', 'Noto Sans JP', 'Roboto', sans-serif;
$font-fallback: 'Roboto', sans-serif;
// Logo Fonts
$font-gau: 'GauFontRubberSoul Regular', sans-serif;


// Font manupulatiors:
// p
$font-size-xs: 0.75rem; // 12px
$font-size-s: 0.875rem; // 14px
$font-size-m: 1rem; // 16px
$font-size-l: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
// h
$font-size-h1: 6rem; // 40px
$font-size-h2: 2.5rem; // 40px
$font-size-h3: 2rem; // 32px
$font-size-h4: 1.75rem; // 28px