@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700&display=swap');

$font-primary: 'Montserrat', 'Helvetica', sans-serif;
$font-secondary: 'Orbitron', 'Helvetica', sans-serif;
$font-fallback: 'Roboto', 'Helvetica', sans-serif;

