@mixin text-shadow-depth($depth, $borderDepth, $border , $shadow1, $shadow2) {
    $text-shadow: (
    );

@for $i from 1 through $depth {
    $text-shadow: -#{$borderDepth}px -#{$borderDepth}px 0 $border, #{$borderDepth}px -#{$borderDepth}px 0 $border, -#{$borderDepth}px #{$borderDepth}px 0 $border,
        #{$borderDepth}px #{$borderDepth}px 0 $border, append($text-shadow, #{$i}px #{$i + 2}px $shadow1, comma), append($text-shadow, #{$i}px #{$i - 2}px $shadow2, comma);
}

text-shadow: $text-shadow;
}

@mixin chrom-ab {
    filter: drop-shadow(30px 10px 4px #4444dd);

}

@mixin theme-colors($colors) {
    @each $name, $color in $colors {
        --#{$name}: #{$color};
    }
}